@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: #04243d;
  overflow-x: hidden;
}
/* nav bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: whitesmoke;
  z-index: 1;
}
nav ul {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
nav ul li {
  list-style-type: none;
  font-size: 20px;
}
nav ul li a {
  color: #04243d;
  text-decoration: none;
}
nav ul li a:hover {
  color: #07c9c8;
}
/* Home */
#home {
  background-image: url("pastaimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* margin-bottom: 0; */
}
#description {
  background-color: #07c9c8;
  height: 50%;
  width: 40%;
  position: absolute;
  top: 25%;
  right: 0;
  padding: 25px;
}
#description h2 {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  margin: 0;
}
#description p {
  text-align: justify;
  font-size: 18px;
}
#time {
  border-collapse: collapse;
  border-style: hidden;
  margin-bottom: 20px;
}
#time td,
#time th {
  border: 2px solid #04243d;
  padding: 0 10px 0 10px;
}
#time td:first-child,
#time th:first-child {
  border-left: none;
}
#time td {
  border-top: none;
}
#time th {
  border-bottom: none;
}
#description a {
  text-decoration: none;
  color: #04243d;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 8px;
  border: 2px solid #04243d;
}
#description a:hover {
  background-color: #04243d;
  color: #07c9c8;
}
/* About */
#about {
  background-image: url(aboutbackground\ copy.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
h1 {
  padding-top: 70px;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin: 0;
}
#about p {
  font-size: 18px;
  margin: 30px 50px;
  text-align: justify;
}
/* Ingredients */
#ingredients {
  height: 100vh;
}
span {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}
#seperator {
  height: 60vh;
  width: 4px;
  background-color: #04243d;
  margin: 0 70px;
}
#tables {
  display: flex;
  align-items: center;
  margin: 3% 0 0 16%;
  padding: 0;
}
caption {
  font-size: 23px;
  margin: 0 0 10px 20px;
}
.ingredient-table {
  text-align: left;
  border-collapse: collapse;
}
.ingredient-table th {
  background-color: #07c9c8;
}
.ingredient-table td,
.ingredient-table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 18px;
}
/* Steps */
#steps {
  height: 100vh;
  font-size: 20px;
}
#steps ul {
  list-style-type: none;
  padding: 10px 120px;
}
#steps li {
  padding: 10px;
  text-align: justify;
}

/* Gallery */
#gallery {
  height: 95vh;
  overflow-y: hidden;
}
#container {
  margin: 2% 0 0 18%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
#div1 {
  grid-area: 1 / 1 / 2 / 2;
}
#div2 {
  grid-area: 1 / 2 / 2 / 3;
}
#div3 {
  grid-area: 1 / 3 / 2 / 4;
}
#div4 {
  grid-area: 2 / 1 / 3 / 2;
}
#div5 {
  grid-area: 2 / 2 / 3 / 3;
}
#div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.gallery-item {
  border-radius: 3px;
  width: 300px;
  height: 280px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery-item img {
  height: 200px;
  width: 100%;
}
/* footer */
footer {
  background-color: whitesmoke;
  height: 30px;
  text-align: center;
  padding-top: 8px;
}
